.resize-handle {
  position: fixed;
  width: 20px;
  height: 20px;

  translate: -50% -50%;

  background-color: #007bff;
  border-radius: 50%;
  cursor: nwse-resize;
  z-index: 1001; /* Ensure it's above the overlay */
  pointer-events: auto; /* Allow interaction */
}
